<a href="https://colab.research.google.com/github/BlancaCC/ProcesamientoDeDatosAGranEscala/blob/spark/SparkColabEjercicios2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark en Google Colab

Instalacion Octubre/2022

1.   Instalacion Java
2.   Instalacion de Spark
3.   Instalar PySpark

## De forma General para usar pyspark en Colab (2022) siga los siguientes pasos en una celda en Colab:

In [1]:
# instalar Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
# Descargar la ultima versión de java ( comprobar que existen los path de descarga)
# Download latest release. Update if necessary

!wget -q https://downloads.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz

In [3]:
%ls -la /content/

total 292324
drwxr-xr-x 1 root root      4096 Oct  6 06:20 ./
drwxr-xr-x 1 root root      4096 Oct  6 06:19 ../
drwxr-xr-x 4 root root      4096 Sep 26 13:44 .config/
drwxr-xr-x 1 root root      4096 Sep 26 13:45 sample_data/
-rw-r--r-- 1 root root 299321244 Jun  9 20:39 spark-3.3.0-bin-hadoop3.tgz

In [4]:
!tar xf spark-3.3.0-bin-hadoop3.tgz

In [5]:
%ls -la

total 292328
drwxr-xr-x  1 root root      4096 Oct  6 06:20 ./
drwxr-xr-x  1 root root      4096 Oct  6 06:19 ../
drwxr-xr-x  4 root root      4096 Sep 26 13:44 .config/
drwxr-xr-x  1 root root      4096 Sep 26 13:45 sample_data/
drwxr-xr-x 13 1000 1000      4096 Jun  9 20:37 spark-3.3.0-bin-hadoop3/
-rw-r--r--  1 root root 299321244 Jun  9 20:39 spark-3.3.0-bin-hadoop3.tgz

In [6]:
# instalar pyspark
!pip install -q pyspark

     |████████████████████████████████| 281.3 MB 43 kB/s
     |████████████████████████████████| 199 kB 46.9 MB/s
  Building wheel for pyspark (setup.py) ... done

# Variables de entorno

In [7]:
import os # libreria de manejo del sistema operativo
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.0-bin-hadoop3"

# Iniciar la sesión de Spark con pyspark en el sistema

In [8]:
from pyspark.sql import SparkSession

APP_NAME = "PDGE-tutorialSpark1"
SPARK_URL = "local[*]"
spark = SparkSession.builder.appName(APP_NAME).master(SPARK_URL).getOrCreate()
spark

In [9]:
sc = spark.sparkContext
#obtener el contexto de ejecución de Spark del Driver.
sc

In [10]:
array = sc.parallelize([1,2,3,4,5,6,7,8,9,10], 2)
array

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [11]:
print(array.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
print(array.count())

10

In [13]:
num3 = array.map(lambda elemento: 3*elemento)

In [14]:
print(num3.collect())

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# Ejemplos de operaciones con RDDs de Spark

In [15]:
numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10],2)

print(numeros.reduce(lambda e1,e2: e1+e2))

55

In [16]:
pnumeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10])

rdd = pnumeros.map(lambda e: 2*e)

print(rdd.collect())

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Pregunta TS1.1 ¿Cómo hacer para obtener una lista de los elementos al cuadrado?

In [17]:
#¿Cómo hacer para obtener una lista de los elementos al cuadrado?
numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10])

#rdd = numeros...
rdd = numeros.map(lambda e: e**2)

print(rdd.collect())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Pregunta TS1.2 ¿Cómo filtrar los impares?

In [18]:
#¿Cómo filtrar los impares?
#rddi = numeros.
rddi = numeros.filter(lambda n: n%2 == 0) # Mostrará los números impares
print(rddi.collect())

[2, 4, 6, 8, 10]

# Ejemplos de operaciones con números

Sumar n numeros

In [19]:
rddnum=sc.range(1000000)
rddnum.reduce(lambda a,b: a+b)

499999500000

In [20]:
numeros = sc.parallelize([1,1,2,2,5])

unicos = numeros.distinct()

print (unicos.collect())

[2, 1, 5]

In [21]:
numeros = sc.parallelize([1,2,3,4,5])

rdd = numeros.flatMap(lambda elemento: [elemento, 10*elemento])

print (rdd.collect())

[1, 10, 2, 20, 3, 30, 4, 40, 5, 50]

Muestreo

In [22]:
numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10])

rdd = numeros.sample(True, 1.0)
# True = sin reemplazar
# 1.0 = fracción de elementos = 100%
print (rdd.collect())

[3, 4, 4, 5, 6, 6, 7, 10, 10]

Union

In [23]:
pares = sc.parallelize([2,4,6,8,10])
impares = sc.parallelize([1,3,5,7,9])

numeros = pares.union(impares)

print (numeros.collect())

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

reducción

In [24]:
numeros = sc.parallelize([1,2,3,4,5])

print (numeros.reduce(lambda elem1,elem2: elem2+elem1))

15

## Pregunta TS1.3 ¿Tiene sentido cambiar la suma por una diferencia? ¿Si se repite se obtiene siempre el mismo resultado?

In [25]:
#Tiene sentido la reducción(elem1-elem2)?
numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10])

print (numeros.reduce(lambda elem1,elem2: elem1-elem2))

15

# Respuesta TS1.3 

Tal operación **no** tiene sentido ya que la operación obtenida no es la esperada. 

Para entender qué es lo que está ocurriendo es necesario consultar la documentación oficial de spark [última consulta 30 de septiembre del 2022](https://spark.apache.org/docs/latest/rdd-programming-guide.html)

al realizar parallelize por defecto se hacen dos particiones de RRD, por tanto al hacer el reduce se calcularía la operación en las respectivas dos particiones y tras esto se haría la resta de los resultados de ambas. 

Si quisiéramos que el resultado fuera el esperado deberiamos de especificar de que solo hubiera una partición (ver la celda siguiente)

In [26]:
# Celda de ejemplo de cómo habría que programarlo para que el resultado fuera el correcto: 

#Tiene sentido la reducción(elem1-elem2)?
numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10],1)

print (numeros.reduce(lambda elem1,elem2: elem1-elem2))

-53

Como es de esperar si variamos el número de particiones la salida se verá afectada. Esto nos hace pensar que para poder paralelizar este tipo de operaciones es necesario que las operaciones sean **asociativas y conmutativas**.

In [27]:
#Tiene sentido la reducción(elem1-elem2) si la repetimos y los elementos están en otro orden?
numeros = sc.parallelize([2,1,4,3,5,6,7,8,9,10])

print (numeros.reduce(lambda elem1,elem2: elem1-elem2))

17

In [28]:
#Tiene sentido la reducción(elem1-elem2)? ¿qué pasa si cambiamos la paralelización a 5? ¿y si es 2?
numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10],5)

print (numeros.reduce(lambda elem1,elem2: elem1-elem2))

3

#Acciones

In [29]:
numeros = sc.parallelize([5,3,1,2,4])

print (numeros.take(3))
#¿Qué sucede si ponemos 30 en vez de 3 elementos?

[5, 3, 1]

### Solución 

Tomará los 30 primeros, en nuestro caso, puesto que solo hay 5 tomará los 5 prieros.

In [30]:
numeros = sc.parallelize([3,2,1,4,5])
# (La segunda función se utiliza como índice de ordenación)
print (numeros.takeOrdered(3, lambda elem: -elem))
# La función lambda se está utilizando para crear el índice de la lista de ordenación

[5, 4, 3]

## Pregunta TS1.4 ¿Cómo lo ordenarías para que primero aparezcan los impares y luego los pares?

In [31]:
#¿Cómo lo ordenarías para que primero aparezcan los impares y luego los pares?
numeros = sc.parallelize([3,2,1,4,5])
#print(numeros...
print (numeros.takeOrdered(5, lambda elem: elem*(elem %5) + elem))

[1, 5, 2, 3, 4]

# RDDs con string

In [32]:
palabras = sc.parallelize(['HOLA', 'Que', 'TAL', 'Bien'])

pal_minus = palabras.map(lambda elemento: elemento.lower())

print (pal_minus.collect())

['hola', 'que', 'tal', 'bien']

In [33]:
palabras = sc.parallelize(['HOLA', 'Que', 'TAL', 'Bien'])

pal_long = palabras.map(lambda elemento: len(elemento))

print (pal_long.collect())

[4, 3, 3, 4]

In [34]:
log = sc.parallelize(['E: e21', 'W: w12', 'W: w13', 'E: e45'])

errors = log.filter(lambda elemento: elemento[0]=='E')

print (errors.collect())

['E: e21', 'E: e45']

In [35]:
lineas = sc.parallelize(['', 'a', 'a b', 'a b c'])

palabras = lineas.flatMap(lambda elemento: elemento.split())

print (palabras.collect())

['a', 'a', 'b', 'a', 'b', 'c']

In [36]:
lineas = sc.parallelize(['', 'a', 'a b', 'a b c'])

palabras_flat = lineas.flatMap(lambda elemento: elemento.split())
palabras_map = lineas.map(lambda elemento: elemento.split())

print (palabras_flat.collect())
print (palabras_map.collect())

['a', 'a', 'b', 'a', 'b', 'c']
[[], ['a'], ['a', 'b'], ['a', 'b', 'c']]

## Pregunta TS1.5 ¿Cuántos elementos tiene cada rdd? ¿Cuál tiene más?

In [37]:
#¿Cuántos elementos tiene cada rdd? ¿Cuál tiene más?
print (palabras_flat.collect())
print (palabras_map.collect())

['a', 'a', 'b', 'a', 'b', 'c']
[[], ['a'], ['a', 'b'], ['a', 'b', 'c']]

### Respuesta TS1.5
El primero posee 6, mientras que el otro 4. Es evidente que el primero posee más.

## Pregunta TS1.6 ¿De qué tipo son los elementos del rdd palabras_map? ¿Por qué palabras_map tiene el primer elemento vacío?

### Respuesta TS1.6

Son listas. 

Está vacía porque se generado a partir de un string sin ningún carácter ni espacio, que tras ser *separados* por la función  `split` se traduce en la lista vacía.

In [38]:
palabras_flat.take(1)

['a']

In [39]:
palabras_map.take(1)

[[]]

## Pregunta TS1.7. Prueba la transformación distinct si lo aplicamos a cadenas.

In [40]:
# Prueba la transformación distinct si lo aplicamos a cadenas.¿Que realiza?
log = sc.parallelize(['E: e21', 'I: i11', 'W: w12', 'I: i11', 'W: w13', 'E: e45'])
print( log.distinct().collect() )

['I: i11', 'W: w12', 'W: w13', 'E: e45', 'E: e21']

### Respuesta TS1.7 

Podemos observar que muestra los elementos de la lista sin repeticiones.

## Pregunta TS1.8 ¿Cómo se podría obtener la misma salida pero utilizando una sola transformación y sin realizar la unión?

In [41]:
log = sc.parallelize(['E: e21', 'I: i11', 'W: w12', 'I: i11', 'W: w13', 'E: e45'])

infos = log.filter(lambda elemento: elemento[0]=='I')
errors = log.filter(lambda elemento: elemento[0]=='E')

inferr = infos.union(errors)

print (inferr.collect())

['I: i11', 'I: i11', 'E: e21', 'E: e45']

### Respuesta TS1.8 

Para ello vamos a realizar directamente el filtro donde se admitan ambas condiciones.

In [42]:
#¿Cómo se podría obtener la misma salida pero utilizando una sola transformación y sin realizar la unión?
log = sc.parallelize(['E: e21', 'I: i11', 'W: w12', 'I: i11', 'W: w13', 'E: e45'])
result = log.filter(lambda elemento: elemento[0]=='I' or elemento[0]=='E')
print(result.collect())

['E: e21', 'I: i11', 'I: i11', 'E: e45']

# Diferencias entre hacer map y recuce con números y cadenas

In [43]:
numeros = sc.parallelize([1,2,3,4,5])

print (numeros.reduce(lambda elem1,elem2: elem2+elem1))

15

In [44]:
#Tiene sentido esta operación?¿Cómo sale el resultado? pruebe los resultados
# empezando con 2 elementos e ir incrementando hasta tener 5

numeros = sc.parallelize([1,2,3,4,5])

print (numeros.reduce(lambda elem1,elem2: elem2-elem1))

3

No tiene sentido porque el resultado no es correcto.

In [45]:
for i in range(2,6):
  print(f"Para {i} elementos, la lista que se  es {list(range(1,i+1))}")
  numeros = sc.parallelize(list(range(1,i+1)))
  print (f"Para {i} elementos", numeros.reduce(lambda elem1,elem2: elem2-elem1))

Para 2 elementos, la lista que se  es [1, 2]
Para 2 elementos 1
Para 3 elementos, la lista que se  es [1, 2, 3]
Para 3 elementos 0
Para 4 elementos, la lista que se  es [1, 2, 3, 4]
Para 4 elementos 0
Para 5 elementos, la lista que se  es [1, 2, 3, 4, 5]
Para 5 elementos 3

In [46]:
palabras = sc.parallelize(['HOLA', 'Que', 'TAL', 'Bien'])

pal_minus = palabras.map(lambda elemento: elemento.lower())

print (pal_minus.reduce(lambda elem1,elem2: elem1+"-"+elem2))
#y esta tiene sentido esta operación?
#Sí tiene 
# Qué pasa si ponemos elem2+"-"+elem1
#

hola-que-tal-bien

In [47]:
print (pal_minus.reduce(lambda elem1,elem2: elem2+"-"+elem1))

bien-tal-que-hola

En este ejemplo se pone de manifiesto claramente lo que se comentó en la respuesta [Respuesta TS1.3](#respuesta-ts1.3).

In [48]:
r = sc.parallelize([('A', 1),('C', 4),('A', 1),('B', 1),('B', 4)])
rr = r.reduceByKey(lambda v1,v2:v1+v2)
print (rr.collect())

[('C', 4), ('A', 2), ('B', 5)]

In [49]:
r = sc.parallelize([('A', 1),('C', 4),('A', 1),('B', 1),('B', 4)])
rr1 = r.reduceByKey(lambda v1,v2:v1+v2)
print (rr1.collect())
rr2 = rr1.reduceByKey(lambda v1,v2:v1)
print (rr2.collect())

[('C', 4), ('A', 2), ('B', 5)]
[('C', 4), ('A', 2), ('B', 5)]

## Pregunta TS1.9 ¿Cómo explica el funcionamiento de las celdas anteriores?

In [50]:
#palabras = sc.parallelize(['HOLA', 'Que', 'TAL', 'Bien'])
#print (pal_minus.reduce(lambda elem1,elem2: elem1+"-"+elem2))
#y esta tiene sentido esta operación?
# Qué pasa si ponemos elem2+"-"+elem1

In [51]:
r = sc.parallelize([('A', 1),('C', 4),('A', 1),('B', 1),('B', 4)])
rr = r.reduceByKey(lambda v1,v2:v1+v2)
print (rr.collect())

[('C', 4), ('A', 2), ('B', 5)]


De cada dupla suma el valor de los elementos que comparten la misma clave.

In [52]:
r = sc.parallelize([('A', 1),('C', 4),('A', 1),('B', 1),('B', 4)])
rr1 = r.reduceByKey(lambda v1,v2:v1+v2)
print (rr1.collect())
rr2 = rr1.reduceByKey(lambda v1,v2:v1)
print (rr2.collect())

[('C', 4), ('A', 2), ('B', 5)]
[('C', 4), ('A', 2), ('B', 5)]

# TS1.10 Responda a las preguntas planteadas al hacer los cambios sugeridos en las siguiente celdas

In [53]:
r = sc.parallelize([('A', 1),('C', 4),('A', 1),('B', 1),('B', 4)])
rr1 = r.reduceByKey(lambda v1,v2:'hola')
print (rr1.collect())
rr2 = rr1.reduceByKey(lambda v1,v2:'hola')
print (rr2.collect())

[('C', 4), ('A', 'hola'), ('B', 'hola')]
[('C', 4), ('A', 'hola'), ('B', 'hola')]

In [54]:
r = sc.parallelize([('A', 1),('C', 2),('A', 3),('B', 4),('B', 5)])
rr = r.groupByKey()
res= rr.collect()
for k,v in res:
    print (k, list(v))
# Que operación se puede realizar al RDD rr para que la operacion sea como un reduceByKey
#¿Y simular un group con un reduceByKey y un map?

C [2]
A [1, 3]
B [4, 5]

### Respuestas TS1.10 

#### Transformar groupByKey para que se transforme como un reduce

In [55]:
from functools import reduce 
r = sc.parallelize([('A', 1),('C', 2),('A', 3),('B', 4),('B', 5)])
# Transformación con sentencias de python 
rr = (r.groupByKey()).collect()
res = list(map( lambda v: (v[0], reduce( lambda x,y: "hola", list(v[1]))), rr))
print(res)

[('C', 2), ('A', 'hola'), ('B', 'hola')]

### Simular un GroupBy con un reduceByKey y un map

De cada par clave valor la idea es introducir cada valor a una lista y despues realizar `reduceByKey` donde la operación de *reduce* es concaternar las listas.

In [56]:
r = sc.parallelize([('A', 1),('C', 4),('A', 1),('B', 1),('B', 4)])
r_map = r.map(lambda x: (x[0],[x[1]]))
rr1 = r_map.reduceByKey(lambda v1,v2: v1+v2)
print (rr1.collect())

[('C', [4]), ('A', [1, 1]), ('B', [1, 4])]

In [57]:
rdd1 = sc.parallelize([('A',1),('B',2),('C',3)])
rdd2 = sc.parallelize([('A',4),('B',5),('C',6)])

rddjoin = rdd1.join(rdd2)

print (rddjoin.collect())
# Prueba a cambiar las claves del rdd1 y rdd2 para ver cuántos elementos se crean

[('A', (1, 4)), ('B', (2, 5)), ('C', (3, 6))]

In [58]:
rdd1 = sc.parallelize([('A',1),('B',2),('C',3)])
rdd2 = sc.parallelize([('A',4),('A',5),('B',6),('D',7)])

rddjoin = rdd1.join(rdd2)

print (rddjoin.collect())
#Modifica join por leftOuterJoin, rightOuterJoin y fullOuterJoin ¿Qué sucede?

[('A', (1, 4)), ('A', (1, 5)), ('B', (2, 6))]

In [59]:
rdd = sc.parallelize([('A',1),('B',2),('C',3),('A',4),('A',5),('B',6)])

res = rdd.sortByKey(False)

print (res.collect())

[('C', 3), ('B', 2), ('B', 6), ('A', 1), ('A', 4), ('A', 5)]

# Utilización de ficheros

In [60]:

# Crea una lista de 1000 números y la guarda.
# Da error si 'salida' existe, descomenta la linea de borrar en ese caso.
%rm -rf salida
numeros = sc.parallelize(range(0,1000))
numeros.saveAsTextFile('salida')

In [61]:
ls -la

total 292332
drwxr-xr-x  1 root root      4096 Oct  6 06:22 ./
drwxr-xr-x  1 root root      4096 Oct  6 06:19 ../
drwxr-xr-x  4 root root      4096 Sep 26 13:44 .config/
drwxr-xr-x  2 root root      4096 Oct  6 06:22 salida/
drwxr-xr-x  1 root root      4096 Sep 26 13:45 sample_data/
drwxr-xr-x 13 1000 1000      4096 Jun  9 20:37 spark-3.3.0-bin-hadoop3/
-rw-r--r--  1 root root 299321244 Jun  9 20:39 spark-3.3.0-bin-hadoop3.tgz

In [62]:
%ls -la salida/*

-rw-r--r-- 1 root root 1890 Oct  6 06:22 salida/part-00000
-rw-r--r-- 1 root root 2000 Oct  6 06:22 salida/part-00001
-rw-r--r-- 1 root root    0 Oct  6 06:22 salida/_SUCCESS

In [63]:
#%cat salida/part-00000

In [64]:
# Recupera el fichero guardado y realiza la suma
n2 = sc.textFile('salida').map(lambda a:int(a))
print(n2.reduce(lambda v1,v2: v1 + v2))

# Prueba este código y mira qué genera?
# Borra la salida y cambia las particiones en parallelize ¿Qué sucede? 
#    (pe c.parallelize(xrange(0,1000),8))

499500

## Pregunta TS1.11 Borra la salida y cambia las particiones en parallelize ¿Qué sucede? 
  (pe c.parallelize(xrange(0,1000),8))

In [65]:
# Recupera el fichero guardado y realiza la suma
n2 = sc.textFile('salida').map(lambda a:int(a))
print(n2.reduce(lambda v1,v2: v1 + v2))

# Prueba este código y mira qué genera?
# Borra la salida y cambia las particiones en parallelize ¿Qué sucede? 
sc.parallelize(range(0,1000),8)
numeros.saveAsTextFile('salida2')

499500

In [66]:
# Prueba este código y mira qué genera?
# Borra la salida y cambia las particiones en parallelize ¿Qué sucede? 
%rm -rf salida3
n = sc.parallelize(range(0,17),8)
n.saveAsTextFile('salida3')
%cat salida3/part-00000

0
1

### Respuesta TS1.11
Podemos observar que cada proceso en paralelo sobreescribe el fichero y por tanto solo se refleja la última que ha sido guardada.

In [67]:
%cat salida3/part-00000

0
1

In [68]:
%rm -rf salida
%ls -la

total 292336
drwxr-xr-x  1 root root      4096 Oct  6 06:22 ./
drwxr-xr-x  1 root root      4096 Oct  6 06:19 ../
drwxr-xr-x  4 root root      4096 Sep 26 13:44 .config/
drwxr-xr-x  2 root root      4096 Oct  6 06:22 salida2/
drwxr-xr-x  2 root root      4096 Oct  6 06:22 salida3/
drwxr-xr-x  1 root root      4096 Sep 26 13:45 sample_data/
drwxr-xr-x 13 1000 1000      4096 Jun  9 20:37 spark-3.3.0-bin-hadoop3/
-rw-r--r--  1 root root 299321244 Jun  9 20:39 spark-3.3.0-bin-hadoop3.tgz

# El quijote

Montar el directorio de trabajo utilizando Google Drive
Loading Your Data into Google Colaboratory.
1. First of all, Upload your Data to your Google Drive.
2. Run the following script in colab shell.
3. Copy the authorization code of your account.
4. Paste the authorization code into the output shell.
5. Congrats! Now your Google Drive is mounted to this location /content/gdrive/MyDrive/

In [69]:
from google.colab import drive
#drive.flush_and_unmount()
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [70]:
%ls /content/gdrive/MyDrive/

 Blog/
'Colab Notebooks'/
'Copy of review 1.docx'
'Copy of review 1.gdoc'
'Ejercicios de Topologia Rafael camino.zip'
 Ejercicios-resueltos-Topologia-E-Nieto.pdf
 essay0902.gdoc
'Essay 2.gdoc'
'Essay, further education.gdoc'
'Fecha graduaciones.gsheet'
 Fotos-actos-graduación/
 GoodNotes/
'IQ gente de primero.gsheet'
'libro nuevo matemáticas.zip'
 libros/
 libro_topologia_rafael_lopez_camino.pdf
'Los libros.zip'
'Memories timesheet.gsheet'
'Proposal 2.gdoc'
 Proposals.gdoc
'review 1.gdoc'
 stat/
'TFG Summary.gdoc'
'Viaje estudios Alemania 2016'/

In [71]:
#!cp "/content/gdrive/My Drive/quijote.txt" .
# Nota: He tenido que añadir la ruta esta para concreta para que lo lea en mi drive
!cp "./gdrive/MyDrive/Colab\ Notebooks/quijote.txt" .

cp: cannot stat './gdrive/MyDrive/Colab\ Notebooks/quijote.txt': No such file or directory

In [72]:
%ls -la

total 292340
drwxr-xr-x  1 root root      4096 Oct  6 06:22 ./
drwxr-xr-x  1 root root      4096 Oct  6 06:19 ../
drwxr-xr-x  4 root root      4096 Sep 26 13:44 .config/
drwx------  5 root root      4096 Oct  6 06:22 gdrive/
drwxr-xr-x  2 root root      4096 Oct  6 06:22 salida2/
drwxr-xr-x  2 root root      4096 Oct  6 06:22 salida3/
drwxr-xr-x  1 root root      4096 Sep 26 13:45 sample_data/
drwxr-xr-x 13 1000 1000      4096 Jun  9 20:37 spark-3.3.0-bin-hadoop3/
-rw-r--r--  1 root root 299321244 Jun  9 20:39 spark-3.3.0-bin-hadoop3.tgz

In [73]:
%pwd

'/content'

# Procesando el QUIJOTE

In [74]:
# Nota: He tenido que añadir la ruta esta para concreta para que lo lea en mi drive
quijote = sc.textFile("gdrive/MyDrive/Colab\ Notebooks/quijote.txt")
quijote.take(10)

['EL INGENIOSO HIDALGO DON QUIJOTE DE LA MANCHA',
 '',
 'Miguel de Cervantes Saavedra',
 '',
 '     Capítulo primero',
 '',
 '     Que trata de la condición y ejercicio del famoso hidalgo D.',
 'Quijote de la ',
 '     Mancha',
 '']

Transformaciones

In [75]:
charsPerLine = quijote.map(lambda s: len(s))
allWords = quijote.flatMap(lambda s: s.split())
allWordsNoArticles = allWords.filter(lambda a: a.lower() not in ["el", "la"])
allWordsUnique = allWords.map(lambda s: s.lower()).distinct()
sampleWords = allWords.sample(withReplacement=True, fraction=0.2, seed=666)
weirdSampling = sampleWords.union(allWordsNoArticles.sample(False, fraction=0.3))
# cómo funciona cada transformación

- `charsPerLine`: Caracteres por líneas. 
- `allWords`: Contiene un RRD cuyos elementos son variables de tipo `String` con las palabras del quijote.
- `allWordsNoArticles`: Minimiza las palabras del RDD `allWords` y devuelve todas menos los artículos `el` y `la`.
- `allWordsUnique`:  Minimiza las palabras del RDD `allWords` y deja solo un representante. 
- `sampleWords`: Toma una muestra aleatora de tamaño aproximadamente $20\%$  del RRD de `allWords` con remplazamiento y semilla $666$. 
- `weirdSampling`: Devuelve un RDD que contiene los elementos de `sampleWords` y una mueestra aleatoria de `allWordsNoArticles` sin remplazamiento y de tamaño alrededor del $30\%$.

Se detallarán las funciones en la respuesta a TS2.1.

In [76]:
allWordsUnique.take(10)

['el',
 'hidalgo',
 'don',
 'mancha',
 'saavedra',
 'que',
 'condición',
 'y',
 'del',
 'd.']

## Pregunta TS2.1 Explica la utilidad de cada transformación y detalle para cada una de ellas si cambia el número de elementos en el RDD resultante. Es decir si el RDD de partida tiene N elementos, y el de salida M elementos, indica si N>M, N=M o N<M.

-  map
- flatmap
- filter
- distinct
- sample
- union

## Respuesta TS2.1

### Map

Los argumentos de `map` son `map(f) ` donde `f` a cuyo dominio pertenecen los elementos del RDD. 

El RDD resultante son las respectivas imágenes de aplicar los elementos del RDD de entrada a `f`. 

Es por ello que N = M.

Ejemplo:

In [77]:
numeros = sc.parallelize(list(range(10)))
rdd = numeros.map(lambda x: x*10+x)
print(rdd.collect())

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

### Flatmap
Funciona como un `map` el cual generaría un RDD cuyos elementos deben ser iterables, a éstos se le aplica la operación de *flattening*, es decir *saca* los elementos que estén en una lista (solo actúa a un nivel, una lista de lista devolvería una lista). 

No se puede establecer que ninguna relación entre N y M ya que si hay listas  vacías entonces pudiera darse el caso que N > M (ver ejemplo 2 que se mostrará a continuación). Aunque si imponemos que no hay listas vacías entonces $N \leq M$.

In [78]:
# Ejemplo 1: N < M
numeros = sc.parallelize(list(range(10)))
rdd = numeros.flatMap(lambda x: [x,x*10+x])
print(rdd.collect())

# Ejemplo 2: N > M
def lista_recursiva (n):
  if n <= 1:
    return []
  else:
    return [lista_recursiva(n-1)]
numeros = sc.parallelize(list(range(1,4)))
print("Ejemplo 2: si se aplicara un map solo  solo:\n",
      numeros.map(lambda x: lista_recursiva(x)).collect())
print("Ejemplo 2: de qué habría en un flapMap:\n",
      numeros.flatMap(lambda x: lista_recursiva(x)).collect())

# Ejemplo 3: N = M
def lista_recursiva_2 (n):
  if n <= 1:
    return [n]
  else:
    return [lista_recursiva_2(n-1)]

numeros = sc.parallelize(list(range(3)))
print("Ejemplo 3: si se aplicara un map solo:\n",
      numeros.map(lambda x: lista_recursiva_2(x)).collect())

print("Ejemplo 3: si se aplicara un flapMap:\n",
      numeros.flatMap(lambda x: lista_recursiva_2(x)).collect())

[0, 0, 1, 11, 2, 22, 3, 33, 4, 44, 5, 55, 6, 66, 7, 77, 8, 88, 9, 99]
Ejemplo 2: si se aplicara un map solo  solo:
 [[], [[]], [[[]]]]
Ejemplo 2: de qué habría en un flapMap:
 [[], [[]]]
Ejemplo 3: si se aplicara un map solo:
 [[0], [1], [[1]]]
Ejemplo 3: si se aplicara un flapMap:
 [0, 1, [1]]

## Filter 

Recive una función con dominio en los elemntos del RDD de partida y salida un booleano. 
Devuelve un RDD con los elementos cuya imagen sea `True`.
En este caso $N \geq M$, donde la igualdad se dará si todos los elementos tienen imagen `True`.

In [95]:
numeros = sc.parallelize([0,1,2,3,4])
rddi = numeros.filter(lambda x: x < 2) # Mostrará los números menores de dos
print(rddi.collect())

[0, 1]

## Distinct 

Elimina los elementos repetidos dejando solo una incidencia de ellos. 
Por tanto $N \geq M$ donde la igualdad se da si no hay ningún elemento repetido.

In [98]:
# Ejemplo sencillo
n = sc.parallelize([0,0,1,1,0,2])
rdd = n.distinct()
print(rdd.collect())

# Ejemplo complejo, compara elemento a elemento
n = sc.parallelize([('a',2),('a',2), ('a',1), ('b',1),])
rdd = n.distinct()
print(rdd.collect())

[0, 2, 1]
[('a', 1), ('a', 2), ('b', 1)]

## Sample

Es un mecanismo para extraes muestras aleatorias, sus argumentos son: 
`sample(withReplacement, fraction, seed=None`
- `withReplacement`: booleano que indica si hay reemplazamiento. 
- `fraction`: decimal en $[0,1]$ fracción de la mustra que se desea. **No se garantiza que la muestra siempre de esa fracción, puede ser menor o mayor**.
- `seed` semilla. 

Por la observación de que no se garantice la fracción no se puede establecer ninguna relación de orden entre $N$ y $M$, mostramos tales situaciones a continuación.

In [110]:
# Ejemplo 1: N > M
print(f'RDD de partida {list(range(5))} N = 5')
print('Ejemplo 1: N > M')
numeros = sc.parallelize(list(range(5)))
rdd = numeros.sample(True, 0.5, 0)
print(rdd.collect())
# Ejemplo 2: N < M
print('Ejemplo 2: N < M')
numeros = sc.parallelize(list(range(5)))
rdd = numeros.sample(True, 1,1)
print(rdd.collect())
# Ejemplo 3: N = M
print('Ejemplo 3: N = M')
numeros = sc.parallelize(list(range(5)))
rdd = numeros.sample(False, 1,1)
print(rdd.collect())

RDD de partida [0, 1, 2, 3, 4] N = 5
Ejemplo 1: N > M
[3, 4]
Ejemplo 2: N < M
[0, 0, 1, 1, 2, 3, 3, 4, 4, 4, 4]
Ejemplo 3: N = M
[0, 1, 2, 3, 4]

## Union

Dados dos RDD devuelve la unión de los dos, es decir, uno RDD con todos los elementos de ambos (cabe destacar que en caso de estar repetidos los elementos los volvería a repetir). 
Para este si $N_1, N_2$ son los respectivos tamaños de los RDD de entrada y $M$ el de salida se cumple que
$N_1 + N_2 = M$

In [112]:
# Ejemplos 1: 
n1 = sc.parallelize([1,2,3])
n2 = sc.parallelize([1,3,5])
m = n1.union(n2)
print (m.collect())

# Ejemplo 2: Une elementos de distinto tipo
n1 = sc.parallelize([1,2,3])
n2 = sc.parallelize(['1','3','5'])
m = n1.union(n2)
print (m.collect())

[1, 2, 3, 1, 3, 5]
[1, 2, 3, '1', '3', '5']

In [80]:
numLines = quijote.count()
numChars = charsPerLine.reduce(lambda a,b: a+b) # also charsPerLine.sum()
sortedWordsByLength = allWordsNoArticles.takeOrdered(20, key=lambda x: -len(x))
numLines, numChars, sortedWordsByLength

(5534,
 305678,
 ['procuremos.Levántate,',
  'estrechísimamente,',
  'Pintiquiniestra,',
  'entretenimiento,',
  'maravillosamente',
  'descansadamente;',
  'desenfadadamente',
  'quebrantamientos',
  'quebrantamiento,',
  'alternativamente',
  'encantamientos,',
  'Placerdemivida,',
  'encantamientos;',
  'malbaratándolas',
  'regocijadamente',
  'consentimiento,',
  'desaconsejaban,',
  'acontecimiento.',
  'agradeciéndoles',
  'encantamientos,'])

## Pregunta TS2.2 Explica el funcionamiento de cada acción anterior

- Tengamos presente que `quijote` es un RDD donde cada elemento es una línea del quijote. 
Por lo que  `quijote.count()` dirá el número de líneas del quijote. 

- La variable `charsPerLine` contiene el número de caracteres que hay en cada línea, luego
`numChars = charsPerLine.reduce(lambda a,b: a+b) # also charsPerLine.sum(` devuelve el número de caracteres total. 

- La variable `allWordsNoArticles` continee las palabras minimizadas con un único representante. 
por lo que 
```python
sortedWordsByLength = allWordsNoArticles.takeOrdered(20, key=lambda x: -len(x))
```
Toma las 20 primeras ordenadas de mayor tamaño a menor.

## Pregunta: Implementa la opción count de otra manera:


*   utilizando transformaciones map y reduce
*   utilizando solo reduce en caso de que sea posible.

### Respuesta 

#### Utilizando transformaciones map y reduce

Cada línea se mapeará por un 1 y con reduce se sumarán.

In [119]:
lineas = quijote.map(lambda linea : 1)
suma_lineas = lineas.reduce(lambda x,y: x+y)
print(suma_lineas)

5534

### Utilizando solo reduce 

La idea clave está en la función del reduce, que debe de ser capaz de tener como entrada cadenas de caracteres y números. 

Si se encuentra con una cadena de caracter es porque se trata de una línea que debe de ser contada, por tanto la cambia a 1 y la suma. 

Si se encuentra un número es de la cuenta anteriores y por tanto lo suma tal cual.

In [120]:
def reduce_suma_lineas(x,y):
  if type(x) == str:
    x = 1
  if type(y) == str:
    y = 1
  return x+y

suma_lineas = quijote.reduce(reduce_suma_lineas)
print(suma_lineas)

5534

# Operaciones K-V (Clave Valor)

In [81]:
import requests
import re
allWords = allWords.flatMap(lambda w: re.sub(""";|:|\.|,|-|–|"|'|\s"""," ", w.lower()).split(" ")).filter(lambda a: len(a)>0)
allWords2 = sc.parallelize(requests.get("https://gist.githubusercontent.com/jsdario/9d871ed773c81bf217f57d1db2d2503f/raw/585de69b0631c805dabc6280506717943b82ba4a/el_quijote_ii.txt").iter_lines())
allWords2 = allWords2.flatMap(lambda w: re.sub(""";|:|\.|,|-|–|"|'|\s"""," ", w.decode("utf8").lower()).split(" ")).filter(lambda a: len(a)>0)

In [82]:
allWords.take(10)

['el',
 'ingenioso',
 'hidalgo',
 'don',
 'quijote',
 'de',
 'la',
 'mancha',
 'miguel',
 'de']

In [83]:
allWords2.take(10)

['don',
 'quijote',
 'de',
 'la',
 'mancha',
 'miguel',
 'de',
 'cervantes',
 'saavedra',
 'segunda']

In [84]:
words = allWords.map(lambda e: (e,1))
words2 = allWords2.map(lambda e: (e,1))

words.take(10)

[('el', 1),
 ('ingenioso', 1),
 ('hidalgo', 1),
 ('don', 1),
 ('quijote', 1),
 ('de', 1),
 ('la', 1),
 ('mancha', 1),
 ('miguel', 1),
 ('de', 1)]

In [85]:
frequencies = words.reduceByKey(lambda a,b: a+b)
frequencies2 = words2.reduceByKey(lambda a,b: a+b)
frequencies.takeOrdered(10, key=lambda a: -a[1])

[('que', 3032),
 ('de', 2809),
 ('y', 2573),
 ('a', 1426),
 ('la', 1423),
 ('el', 1232),
 ('en', 1155),
 ('no', 903),
 ('se', 753),
 ('los', 696)]

In [86]:
res = words.groupByKey().takeOrdered(10, key=lambda a: -len(a))
res # To see the content, res[i][1].data

[('el', <pyspark.resultiterable.ResultIterable at 0x7f2344cbbbd0>),
 ('hidalgo', <pyspark.resultiterable.ResultIterable at 0x7f2345b23d10>),
 ('don', <pyspark.resultiterable.ResultIterable at 0x7f23452ccbd0>),
 ('mancha', <pyspark.resultiterable.ResultIterable at 0x7f23452ddb10>),
 ('saavedra', <pyspark.resultiterable.ResultIterable at 0x7f23452dd850>),
 ('que', <pyspark.resultiterable.ResultIterable at 0x7f2345125690>),
 ('condición', <pyspark.resultiterable.ResultIterable at 0x7f2345125d10>),
 ('y', <pyspark.resultiterable.ResultIterable at 0x7f2345125a10>),
 ('del', <pyspark.resultiterable.ResultIterable at 0x7f2345125c50>),
 ('d', <pyspark.resultiterable.ResultIterable at 0x7f2345125c90>)]

In [87]:
joinFreq = frequencies.join(frequencies2)
joinFreq.take(10)

[('el', (1232, 4394)),
 ('hidalgo', (14, 42)),
 ('don', (370, 1606)),
 ('mancha', (26, 101)),
 ('saavedra', (1, 1)),
 ('que', (3032, 10040)),
 ('y', (2573, 9650)),
 ('del', (415, 1344)),
 ('en', (1155, 4223)),
 ('cuyo', (11, 35))]

In [88]:
joinFreq.map(lambda e: (e[0], (e[1][0] - e[1][1])/(e[1][0] + e[1][1]))).takeOrdered(10, lambda v: -v[1]), joinFreq.map(lambda e: (e[0], (e[1][0] - e[1][1])/(e[1][0] + e[1][1]))).takeOrdered(10, lambda v: +v[1])

([('pieza', 0.8),
  ('corral', 0.8),
  ('rodela', 0.7777777777777778),
  ('curar', 0.75),
  ('valle', 0.75),
  ('entierro', 0.75),
  ('oh', 0.7142857142857143),
  ('licor', 0.7142857142857143),
  ('difunto', 0.7142857142857143),
  ('pago', 0.6666666666666666)],
 [('teresa', -0.9767441860465116),
  ('roque', -0.96),
  ('paje', -0.9565217391304348),
  ('duque', -0.9565217391304348),
  ('blanca', -0.9565217391304348),
  ('gobernador', -0.9503105590062112),
  ('diego', -0.9459459459459459),
  ('tarde', -0.9428571428571428),
  ('mesmo', -0.9381443298969072),
  ('letras', -0.9354838709677419)])

## Pregunta TS2.3 Explica el proposito de cada una de las operaciones anteriores

## Pregunta TS2.4 ¿Cómo puede implementarse la frecuencia con groupByKey y transformaciones?

# Optimizaciones

## Pregunta TS2.5 ¿Cuál de las dos siguientes celdas es más eficiente? Justifique la respuesta.

In [89]:
joinFreq.map(lambda e: (e[0], (e[1][0] - e[1][1])/(e[1][0] + e[1][1]))).takeOrdered(10, lambda v: -v[1]), joinFreq.map(lambda e: (e[0], (e[1][0] - e[1][1])/(e[1][0] + e[1][1]))).takeOrdered(10, lambda v: +v[1])

([('pieza', 0.8),
  ('corral', 0.8),
  ('rodela', 0.7777777777777778),
  ('curar', 0.75),
  ('valle', 0.75),
  ('entierro', 0.75),
  ('oh', 0.7142857142857143),
  ('licor', 0.7142857142857143),
  ('difunto', 0.7142857142857143),
  ('pago', 0.6666666666666666)],
 [('teresa', -0.9767441860465116),
  ('roque', -0.96),
  ('paje', -0.9565217391304348),
  ('duque', -0.9565217391304348),
  ('blanca', -0.9565217391304348),
  ('gobernador', -0.9503105590062112),
  ('diego', -0.9459459459459459),
  ('tarde', -0.9428571428571428),
  ('mesmo', -0.9381443298969072),
  ('letras', -0.9354838709677419)])

In [90]:
result = joinFreq.map(lambda e: (e[0], (e[1][0] - e[1][1])/(e[1][0] + e[1][1])))
result.cache()
result.takeOrdered(10, lambda v: -v[1]), result.takeOrdered(10, lambda v: +v[1])

([('pieza', 0.8),
  ('corral', 0.8),
  ('rodela', 0.7777777777777778),
  ('curar', 0.75),
  ('valle', 0.75),
  ('entierro', 0.75),
  ('oh', 0.7142857142857143),
  ('licor', 0.7142857142857143),
  ('difunto', 0.7142857142857143),
  ('pago', 0.6666666666666666)],
 [('teresa', -0.9767441860465116),
  ('roque', -0.96),
  ('paje', -0.9565217391304348),
  ('duque', -0.9565217391304348),
  ('blanca', -0.9565217391304348),
  ('gobernador', -0.9503105590062112),
  ('diego', -0.9459459459459459),
  ('tarde', -0.9428571428571428),
  ('mesmo', -0.9381443298969072),
  ('letras', -0.9354838709677419)])

In [91]:
result.coalesce(numPartitions=2) # Avoids the data movement, so it tries to balance inside each machine
result.repartition(numPartitions=2) # We don't care about data movement, this balance the whole thing to ensure all machines are used

MapPartitionsRDD[238] at coalesce at NativeMethodAccessorImpl.java:0

In [92]:
result.take(10)
allWords.cache() # allWords RDD must  stay in memory after computation, we made a checkpoint (well, it's a best effort, so must might be too strong)
result.take(10)

[('el', -0.5620334162815499),
 ('hidalgo', -0.5),
 ('don', -0.6255060728744939),
 ('mancha', -0.5905511811023622),
 ('saavedra', 0.0),
 ('que', -0.5361077111383109),
 ('y', -0.5789904278818621),
 ('del', -0.5281409891984082),
 ('en', -0.5704722945332837),
 ('cuyo', -0.5217391304347826)]

In [93]:
from pyspark import StorageLevel
# https://spark.apache.org/docs/2.2.0/rdd-programming-guide.html#rdd-persistence
allWords2.persist(StorageLevel.MEMORY_AND_DISK) # Now it will be preserved on disk also

PythonRDD[242] at RDD at PythonRDD.scala:53

In [94]:
!rm -rf palabras_parte2
allWords2.saveAsTextFile("palabras_parte2")

## Pregunta TS2.6 Antes de guardar el fichero, utilice coalesce con diferente valores ¿Cuál es la diferencia?